#!/bin/bash
#|============================================================================
#| Global References
#|----------------------------------------------------------------------------
#| _G_LOG_FILE: case executing log output file.
#|----------------------------------------------------------------------------
_G_LOG_FILE=output

#|============================================================================
#| Constant Definition
#/----------------------------------------------------------------------------
PASSED_INFO="TEST Passed!"
FAILED_INFO="TEST Failed!"
#\----------------------------------------------------------------------------

#|============================================================================
# Functions
#/----------------------------------------------------------------------------
function __case_passed
{
    echo "passed in template"
}

function __case_failed
{
    echo "failed in template"
}

function __execute
{
    local ret=1
    return $ret
}
#\----------------------------------------------------------------------------
